@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --indigo: #5964cb;
  --teal: #089ab0;
  --cyan-blue: #008bb5;
  --blue: #2979ff;
  --mint: #56ddb8;
  --turquoise: #56ddd2;
  --lime: #89e24e;
  --white: #ffffff;
  --sky-blue: #7fcbff;
  --dark-green: #003a2a;
  --dark-blue: #003157;
  --neon-green: #16f576;
  --dark-navy: #000119;
  --font-poppins: "Poppins", sans-serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-cantarell:  "Cantarell", sans-serif;
}
