:root {
  --indigo: #5964cb;
  --teal: #089ab0;
  --cyan-blue: #008bb5;
  --blue: #2979ff;
  --mint: #56ddb8;
  --turquoise: #56ddd2;
  --lime: #89e24e;
  --white: #ffffff;
  --sky-blue: #7fcbff;
  --dark-green: #003a2a;
  --dark-blue: #003157;
  --neon-green: #16f576;
  --dark-navy: #000119;
}